<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Express Map Example App</title>
</head>
<body>
  {{#if nav}}
    <nav>
        <ul>
          {{#each nav}}
            <li><a href="{{pathTo name}}">{{label}}</a></li>
          {{/each}}
        </ul>
    </nav>
  {{/if}}

    {{{body}}}
</body>
</html>
